/*/node_modules/
/*/package-lock.json
/server/server-build
/server/dashboard-build
/worker/worker-build
/server/data
blender.tar.xz
/worker/name.txt
/worker/blender
/worker/blender.tar.xz
/worker/blender-location.txt
/worker/data
/worker/temp
/worker/server-hash.txt
server.zip
worker.zip